<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plataforma de Turismo{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .content-wrapper {
            min-height: 100%; /* Ocupa toda la altura de la ventana */
            display: flex;
            flex-direction: column;
        }

        .container {
            flex: 1; /* Esto permite que el contenedor ocupe el espacio restante */
        }

        footer {
            margin-top: auto; /* Empuja el footer hacia el fondo */
        }
    </style>
</head>
<body>
    <!-- Header con menú de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Turismo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shortest-route">GPS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenedor de contenido -->
    <div class="content-wrapper">
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="bg-light text-center py-4">
            <p>&copy; 2024 Plataforma de Turismo. Todos los derechos reservados.</p>
        </footer>
    </div>

    <!-- Bootstrap JS y dependencias de Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
